@keyframes alertAnim {
    from {
        opacity: 0;
        right: 0px;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}

.alert-container {
    width: 100%;
    max-width: 350px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    position: fixed;
    top: 20px;
    z-index: 99;
    box-shadow: var(--app-box-shadow);

    animation-name: alertAnim;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    .alert-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
            font-size: 14pt;
            font-weight: bold;
            color: #222;
        }

        p {
            font-size: 12pt;
            color: #222;
        }
    }
}

.success {
    background-color: var(--app-alert-success-background-color);
}

.warning {
    background-color: var(--app-alert-warning-background-color);
}

.danger {
    background-color: var(--app-alert-danger-background-color);
}

.info {
    background-color: var(--app-alert-info-background-color);
}