<div class="trades-container">
    <h1 class="trades-title">Trades</h1>
    <hr class="divider"/>
    <div class="trades-wrapper-container">
        <app-card>
            <div class="trades">
                <div>
                    <h2>Jonatas Almeida</h2>
                    <p>Description test</p>
                </div>
                <div class="trades-action-buttons">
                    <app-button
                        label="Aceitar"></app-button>
                    <app-button
                        label="Recusar"
                        kind="secondary"></app-button>
                </div>
            </div>
        </app-card>
    </div>
</div>
