.login-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-form {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 30px;
        background-color: var(--app-form-background-color);
        box-shadow: var(--app-box-shadow);
        border: none;
        border-radius: 10px;

        h1 {
            font-size: 32pt;
            color: var(--app-primary-text-color);

            span {
                color: #009264;
            }
        }

        .form-input-actions {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .form-button-actions {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: normal;
            gap: 20px;
        }
    }
}