/* You can add global styles to this file, and also import other style files */
:root {
    --app-background-color: #fff;
    --app-form-background-color: #fff;
    --app-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    --app-primary-background-color: #ff6600;
    --app-primary-background-color-hover: #ad4702;
    --app-secondary-background-color: transparent;
    --app-tertiary-background-color: #d3d3d3;
    --app-tertiary-background-color-hover: #cccccc;

    --app-primary-text-color: #ff6600;
    --app-secondary-text-color: #f0f0f0;

    --app-alert-success-background-color: #96f072;
    --app-alert-warning-background-color: #faec6c;
    --app-alert-danger-background-color: #f36d6d;
    --app-alert-info-background-color: #83bcfd;
}

@font-face {
    font-family: AppStandardFont;
    src: url("./assets/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: AppSecondaryFont;
    src: url("./assets/fonts/Lora/Lora-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: AppStandardFont;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--app-background-color);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    margin: 15px 0px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-radius: 35px;
}

::-webkit-scrollbar-thumb {
    background: #009264;
    transition: all .2s;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #025c3f;
}