/* You can add global styles to this file, and also import other style files */
:root {
    --app-background-color: #fff;
    --app-form-background-color: #fff;
    --app-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    --app-primary-background-color: #ff6600;
    --app-primary-background-color-hover: #ad4702;
    --app-secondary-background-color: transparent;
    --app-tertiary-background-color: #d3d3d3;
    --app-tertiary-background-color-hover: #cccccc;

    --app-primary-text-color: #ff6600;
    --app-secondary-text-color: #f0f0f0;

    --app-alert-success-background-color: #96f072;
    --app-alert-warning-background-color: #faec6c;
    --app-alert-danger-background-color: #f36d6d;
    --app-alert-info-background-color: #83bcfd;
}

@font-face {
    font-family: AppStandardFont;
    src: url("./assets/fonts/Nunito-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: AppStandardFont;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--app-background-color);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    margin: 15px 0px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-radius: 35px;
}

::-webkit-scrollbar-thumb {
    background: #009264;
    transition: all .2s;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #025c3f;
}

/** Media Queries --------------------------------------------*/
@media (max-width: 430px) {
    // Navbar component
    .navbar-container {
        display: flex;
        padding: 15px 20px !important;

        h1 {
            font-size: 14pt;
        }

        .navbar-menu {
            gap: 20px !important;
        }
    }

    // Dashboard page
    .dashboard-container {
        padding: 80px 20px !important;
    }

    .dashboard-current-inventory {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;

        .card {
            width: 150px !important;
        }
    }

    // Trades page
    .trades-container {
        padding: 80px 20px !important;
    }

    .trade-card-container {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center !important;
        gap: 0px !important;
    }

    .trade-card-offering,
    .trade-card-receiving {
        width: 100%;
    }

    // Modal
    .modal-container {
        width: 100% !important;
        height: 100% !important;

        h3 {
            font-size: 32pt !important;
            top: 5% !important;
        }

        .modal-cards-container {
            width: 100%;
            max-width: 100px !important;
        }

        .modal-cards-footer {
            bottom: 10% !important;
        }
    }

    .modal-content {
        display: flex !important;
        flex-direction: column !important;

        h1 {
            display: none;
        }
    }

    .modal-trade-content {
        width: 100% !important;
        height: fit-content !important;
        display: flex !important;
        flex-wrap: wrap;
        gap: 20px !important;
        padding: 20px !important;
    }

    .user-cards-container,
    .general-cards-container {
        width: 100% !important;
        max-height: 300px !important;
        padding: 10px !important;
        gap: 10px !important;

        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .user-cards,
    .general-cards {
        width: 200px !important;
    }

    // Login page
    .login-form {
        box-shadow: none !important;
        padding: 20px !important;
    }

    // Register page
    .register-form-container {
        box-shadow: none !important;
        padding: 20px !important;
    }
}

@media ((min-width: 450px) and (max-width: 500px)) {
    // Navbar component
    .navbar-container {
        display: flex;
        padding: 15px 20px !important;

        h1 {
            font-size: 14pt;
        }

        .navbar-menu {
            gap: 20px !important;
        }
    }

    // Dashboard page
    .dashboard-container {
        padding: 100px 20px !important;
    }

    .dashboard-current-inventory {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;

        .card {
            width: 200px !important;
        }
    }

    // Trades page
    .trades-container {
        padding: 80px 20px !important;
    }

    .trade-card-container {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center !important;
        gap: 0px !important;
    }

    .trade-card-offering,
    .trade-card-receiving {
        width: 100%;
    }

    // Modal
    .modal-container {
        width: 100% !important;
        height: 100% !important;

        h3 {
            font-size: 32pt !important;
            top: 20% !important;
        }

        .modal-cards-container {
            width: 100%;
            max-width: 100px !important;
        }

        .modal-cards-footer {
            bottom: 15% !important;
        }
    }

    .modal-content {
        display: flex !important;
        flex-direction: column !important;

        h1 {
            display: none;
        }
    }

    .modal-trade-content {
        width: 100% !important;
        height: fit-content !important;
        display: flex !important;
        flex-wrap: wrap;
        gap: 20px !important;
        padding: 20px !important;
    }

    .user-cards-container,
    .general-cards-container {
        width: 100% !important;
        max-height: 300px !important;
        padding: 10px !important;
        gap: 10px !important;

        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .user-cards,
    .general-cards {
        width: 200px !important;
    }
}

@media (max-width: 375px) {
    // Navbar component
    .navbar-container {
        display: flex;
        padding: 15px 20px !important;

        h1 {
            font-size: 12pt;
        }

        .navbar-menu {
            gap: 15px !important;
        }
    }

    // Modal
    .modal-content {
        display: flex !important;
        flex-direction: column !important;

        h1 {
            display: none;
        }
    }

    .modal-trade-content {
        width: 100% !important;
        height: fit-content !important;
        display: flex !important;
        flex-wrap: wrap;
        gap: 20px !important;
        padding: 20px !important;
    }

    .user-cards-container,
    .general-cards-container {
        width: 100% !important;
        max-height: 200px !important;
        padding: 10px !important;
        gap: 10px !important;

        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .user-cards,
    .general-cards {
        width: 150px !important;
    }
}

@media (max-width: 360px) {
    // Navbar component
    .navbar-container {
        display: flex;
        padding: 15px 20px !important;

        h1 {
            font-size: 12pt;
        }

        .navbar-menu {
            gap: 10px !important;
        }
    }

    // Dashboard page
    .dashboard-container {
        padding: 80px 10px !important;
    }

    .dashboard-current-inventory {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center;
        justify-content: center;

        .card {
            width: 150px !important;
        }
    }

    // Trades page
    .trades-container {
        padding: 80px 10px !important;
    }

    .trade-card-container {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center !important;
        gap: 0px !important;
    }
}