<div class="dashboard-container">
    <div class="dashboard-header">
        <h1 class="welcome-text">Olá, {{ this.user?.name }}!</h1>
        <h2 class="dashboard-title">Dashboard</h2>
    </div>

    <hr class="divider"/>

    <div class="dashboard-content">
        <div class="dashboard-card-section">
            <app-card>
                <div class="dashboard-card">
                    <h3>Total de cartas</h3>
                    <p>{{ this.userCards.length }}</p>
                </div>
            </app-card>
            <app-card>
                <div class="dashboard-card">
                    <h3>Solicitações de troca</h3>
                    <p>{{ this.trades.length }}</p>
                </div>
            </app-card>
        </div>

        <div class="dashboard-inventory-container">
            <h2>Suas cartas</h2>
            <hr class="divider"/>
            <div class="dashboard-current-inventory">
                <img 
                    class="card" 
                    *ngFor="let card of userCards; index as index;"
                    (click)="this.router.navigateByUrl('/trades')"
                    [src]="card.imageUrl"/>
            </div>
        </div>
    </div>
</div>

<!-- Modal de adicionar cartas ao inventário -->
<div class="modal-container" *ngIf="this.modalOpen">
    <h3>Selecione as cartas</h3>
    <div class="modal-cards-container">
        <img 
        *ngFor="let savedCard of allCards; index as index;"
        class="cards {{ savedCard.isActive ? 'active' : '' }}"
        [src]="savedCard.imageUrl"
        (click)="this.selectCards(savedCard, index)"/>
    </div>
    <div class="modal-cards-footer">
        <app-button
            label="Adicionar cartas"
            (onClick)="this.addCards()"></app-button>
        <app-button
            label="Cancelar"
            kind="secondary"
            (onClick)="this.modalOpen = false;"></app-button>
    </div>
</div>

<app-floating-button
    (onClick)="this.modalOpen = true;"></app-floating-button>