.dashboard-container {
    width: 100%;
    margin: 0 auto;
    padding: 100px;

    .dashboard-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .welcome-text {
            font-size: 32pt;
            margin-bottom: 40px;
        }

        .dashboard-title {
            font-size: 18pt;
            color: var(--app-primary-text-color);
        }

        .dashboard-header-actions {
            display: flex;
            align-items: center;
            gap: 20px;

            .dashboard-button {
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                background-color: var(--app-tertiary-background-color);
                cursor: pointer;
            }
        }
    }

    .dashboard-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        .dashboard-card-section {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;
            margin-top: 20px;

            .dashboard-card {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: 16pt;
                    color: var(--app-primary-text-color);
                }

                p {
                    font-size: 32pt;
                    font-weight: bold;
                    color: #222;
                }
            }
        }

        .dashboard-inventory-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            h2 {
                color: var(--app-primary-text-color);
            }

            .dashboard-current-inventory {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                margin-top: 10px;
                gap: 30px;

                .card {
                    width: 250px;
                    height: auto;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    cursor: pointer;
                    transition: all .2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/** Modal styles -------------------------*/
.modal-container {
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99 !important;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;

    h3 {
        width: 100%;
        text-align: center;

        position: fixed;
        top: 20%;
        font-family: AppStandardFont;
        font-size: 40pt;
        color: var(--app-primary-text-color);
    }

    .modal-cards-container {
        width: 100%;
        max-width: 250px !important;
        margin: 0 auto;
        height: fit-content;
        overflow-x: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-left: 850px;
        padding-right: 30px;
        padding-bottom: 50px;
        gap: 30px;

        .cards {
            width: 250px;
            height: auto;
    
            border: none;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            transition: all .2s;

            &.active {
                transform: scale(1.05);
                box-shadow: 0px 0px 20px rgba($color: #ff6600, $alpha: 0.9);
            }
    
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .modal-cards-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        position: fixed;
        bottom: 16%;
    }
}

.btn-add-card {
    width: 60px;
    height: 60px;
    background-color: var(--app-primary-background-color);
    border: none;
    border-radius: 50%;
    box-shadow: var(--app-box-shadow);

    font-size: 24pt;
    color: var(--app-secondary-text-color);
    cursor: pointer;
    transition: all .2s;

    position: fixed;
    bottom: 30px;
    right: 30px;

    &:active {
        transform: scale(0.9);
    }
}