<div class="dashboard-container">
    <div class="dashboard-header">
        <h1 class="dashboard-title">Dashboard</h1>
    </div>

    <hr class="divider"/>

    <div class="dashboard-content">
        <div class="dashboard-card-section">
            <app-card>
                <div class="dashboard-card">
                    <h3>Total de cartas</h3>
                    <p>15</p>
                </div>
            </app-card>
            <app-card>
                <div class="dashboard-card">
                    <h3>Solicitações de troca</h3>
                    <p>2</p>
                </div>
            </app-card>
            <app-card>
                <div class="dashboard-card">
                    <h3>Disponíveis</h3>
                    <p>30</p>
                </div>
            </app-card>
        </div>

        <div class="dashboard-inventory-container">
            <h2>Todas as cartas</h2>
            <hr class="divider"/>
            <div class="dashboard-current-inventory">
                <button class="card blank-card">
                    +
                </button>
                <div 
                    class="card" 
                    *ngFor="let card of userCards; index as index;"
                    [ngStyle]="{ 'background-image': 'url(' + card.imageUrl + ')' }">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal-container">
    <div 
        *ngFor="let savedCard of allCards; index as index;"
        class="cards"
        [ngStyle]="{
            'background-image': 'url(' + savedCard.imageUrl + ')'
        }"
        (click)="this.selectCards(savedCard)">
        
    </div>
</div> -->